.footer {
  display: flex;
  justify-content: space-around;
  background-color: #1d97bd;
  max-height: 35px;
  align-items: center;
}

.item a {
  text-decoration: none;
}

.item {
  font-size: large;
}
